/* Importing a Google Font */

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
</style>
https://xpat-online.github.io/Xpat/ G-C5ZPYP9HBZ
/* Changing the main font and background colour */

body {
	font-family: Roboto, sans-serif;
	background-color: #000000;
}

}


/* Changing the background colour for the header */

header {
	background-color: #FFFFFF;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #FFFFFF;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #EF83CD;
	font-weight: bold;
}
